<section class="frequent-routes">
    <h2>Frequently Traveled Bus Routes</h2>
    <div class="routes-grid">
      <div class="route-card">
        <img src="https://static1.bdtickets.com/aaum/banners/a4df1537-0bcc-47b9-ae5f-928fdb58f06c" alt="Route 1">
        <p>Dhaka to Cox's Bazar</p>
      </div>
      <div class="route-card">
        <img src="https://static1.bdtickets.com/aaum/banners/5dc7b536-fc1c-429b-9cfa-df534ca713c1" alt="Route 2">
        <p>Dhaka to Rajshahi</p>
      </div>
      <div class="route-card">
        <img src="https://static1.bdtickets.com/aaum/banners/77054242-4fa4-4eda-99cf-2ba276f548ef" alt="Route 3">
        <p>Dhaka to Khulna</p>
      </div>
    </div>
  </section>
  