<section class="limited-time-discounts">
    <h2>Flash Deals</h2>
    <div class="deals-carousel">
      <div class="deal-card">
        <img src="https://static1.bdtickets.com/aaum/promotional/24a5a95f-0136-4f39-9497-b9e90ed0a43f" alt="Deal 1">
        <h3>Enjoy 0% on Winter Cruises</h3>
        <button>Book Now</button>
      </div>
      <div class="deal-card">
        <img src="https://static1.bdtickets.com/aaum/banners/c1e0b533-134a-432d-98cd-d90661a41923" alt="Deal 2">
        <h3>Up to $300 Savings on Flights</h3>
        <button>Book Now</button>
      </div>
      <div class="deal-card">
        <img src="https://static1.bdtickets.com/aaum/promotional/9708b0fa-b599-41c7-a5bf-f45e52f490b7" alt="Deal 3">
        <h3>Save Big on City Hotel Stays</h3>
        <button>Book Now</button>
      </div>
    </div>
  </section>
  